.why-content h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #504a77;
}
.why-grids {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 2rem;
}

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-item .icon {
  width: 40px;
  height: 40px;
}

.item-text {
  font-size: 16px;
  max-width: 20rem;
}
.item-title {
  font-size: 18px;
  font-weight: 700;
  color: #504a77;
}

@media screen and (max-width: 1024px) {
  .why-grids {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 2rem;
  }
}

@media screen and (max-width: 770px) {
  .why-grids {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding: 2rem;
  }
}
