.how-section {
  position: relative;
}
.bg-section {
  background-color: #c4dffd;
  height: 20rem;
  width: 80%;
  position: absolute;
  top: 0;
  z-index: -1;
  border-radius: 25px;
}

.how-section .how-content h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #504a77;
}
.how-cards {
  width: 80%;
  display: flex;
  justify-content: space-around;
  gap: 12px;
}
.card {
  box-shadow: 0px 10px 36px rgb(18 78 120 / 8%);
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  height: 20rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card .title {
  font-size: 24px;
  font-weight: 500;
  margin: 1rem 0;
}
.card .icon {
  width: 40px;
  height: 40px;
}
@media screen and (max-width: 770px) {
  .how-section .how-content h1 {
    font-size: 24px;
    font-weight: 600;
  }
  .how-section .how-content p {
    font-size: 14px;
  }
  .how-cards {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .card {
    height: 15rem;
    width: 15rem;
  }
  .card .title {
    font-size: 18px;
  }
  .bg-section {
    height: 85%;
  }
}
